<!--
  File Name: home.ejs
  Student Number : 301239985
  Student Name: Mihir Darji
-->
<!-- main content of home page-->
<div class="container">
    <div class="row custom-padding">
        
        <div class="col">
            <p class="self">
                Hello,It's Me Mihir<br/>
                A Software Developer In Toronto<br/>
            </p>
            <div>
                <button type="button" class="btn btn-primary" onclick="window.location.href='about-me';">About Me</button>
                
        </div>
        
    </div>
</div>