<!--
  File Name: projects.ejs
  Student Number : 301239985
  Student Name: Mihir Darji
-->
<!-- main content of projects page-->
<div class="container">
    
    <div class="row custom-padding">
      <h1><%= title %></h1>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/project_01.jpg" alt="Recreation Hub">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i> Recreation Hub</h5>
                  <p class="card-text">A Web application Is generally made For Society Or An Apartment Which Manage all User's Data and My Role was to integrate Database Withnthe Application.
                  </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/project_02.jpg" alt="Baby Care Monitoring System">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i> Baby Care Monitoring System</h5>
                  <p class="card-text">Android Application Which Monitor baby's Health and the Baby It Self.  
                </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/project_03.jpg" alt="Nimse Coaching Website">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i> Nimse Coaching Website</h5>
                  <p class="card-text">Nimse Coaching Is Static Website Which Shows Genera Information about the Tutors And the Objective Of Online Classes.   
                </p>
                </div>
            </div>

        </div>
    </div>
    
</div>