<!--
  File Name: services
  Student Number : 301239985
  Student Name: Mihir Darji
-->
<div class="container">
    
    <div class="row custom-padding">
        <h1><%= title %></h1>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/service_01.png" alt="service">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i> Web Development</h5>
                  <p class="card-text">
                   We are Providing professional software development Features to the clients such as UI/UX Design and Responsive websites. 
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/service_02.png" alt="service">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i> Mobile Application Development</h5>
                  <p class="card-text"> Both Android and iOS application Development provided.
                    </p>
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" >
                <img class="card-img-top" src="/images/service_03.jpg" alt="service">
                <div class="card-body">
                  <h5 class="card-title text_blue"><i class="bi-file-earmark-code"></i>Database Administration</h5>
                  <p class="card-text">
                   Handling Data is a huge problem nowadays, let's get rid of the problem together.
                    </p>
                </div>
            </div>
        </div>

    </div>
    
</div>